*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    margin: 0;
    padding: 0;
}
header{
    border: 3px solid black;
    padding: 15px;
}
#logo{
    height: 50px;
}
.newspaper-title{
    margin:auto;
    display: flex;
    justify-content: center;
}

li{
    list-style-type: none;
    text-decoration: none;
}
nav{
    display: inline-block;
    text-align: center;
    width: 100%;
    /* padding: 10px; */
    position: sticky;
    top: 0;
    background-color: salmon;
}
.navbar-view{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
}

.nav-link{
    border: 2px solid black;
    padding: 10px;
    display: inline-block;
    position: relative;
    text-decoration: none;
}
.nav-link:hover{
    background-color: aqua;
    /* make dropdown */
}
.nav-link:hover .dropdown{
    display: block;
} 
.dropdown{
    width: 100%;
    position: absolute;
    z-index: 999;
    background-color: rgb(0, 119, 255);
    display:none;
}

.dd-link{
    display: block;
}
.dd-link:hover{
    /* width: 100%; */
    background-color: violet;
}


main{
    border: 3px solid blue;
    /* justify-self: center; */
    
}
.main-layout{
    display: grid;
    grid-template-columns: 1fr 1fr 250px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "news-grid news-grid aside"
    "category-section category-section aside";
}
.newsgrid-container{
    /* border: 3px solid black; */
    grid-area: news-grid;
    background-color: rgb(228, 226, 226);
    
    padding: 5px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* fix layout */
    grid-template-areas: 
    "featured featured vertical"
    "featured featured vertical"
    "standard horizontal horizontal";
}
article{
    margin: 10px;
    border-radius: 10px;
}
.featured{
    grid-area: featured;
    border: 3px solid blue;
    background-color: lightblue;
}
.standard{
    grid-area:standard;
    border: 3px solid green;
    background-color: lightgreen;
}
.horizontal{
    grid-area: horizontal;
    border: 3px solid purple;
    background-color: violet;
}
.vertical{
    grid-area: vertical;
    border: 3px solid orangered;
    background-color: lightsalmon;
}
aside{
    grid-area: aside;
    display: flex;
    justify-content: center;
}
.trending-container{
    
    background-color: lightyellow;
    padding: 5px;
}
.trendstory{
    background-color: rgb(253, 230, 127);
    border-radius: 15px;
    height: 150px;
    width: 150px;
    margin: 10px;
}
.category-container{
    grid-area: category-section;
    background-color: lightcyan;
    padding: 15px;
    border-radius: 10px;
    
    
    
}
.category-flex{
    justify-content: space-evenly;
    display: flex;
    /* align-items: stretch; */
}

.category{
    
    background-color: rgb(92, 167, 253);
    border-radius: 15px;
    display: inline-block;
    border: 3px solid black;
    margin: 15px;
    padding: 10px;
    flex-grow: 1;
    
    
}

footer{
    background-color: lightblue;
    text-align: center;
    margin: 0;
    padding: 20px;
}